:root {
    --main-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    --accent-color: #2196f3;
    --a:-webkit-any-link {
      text-decoration: none;
    }
  }
  ul {
    list-style: none;
  }
  body {
    font-family: var(--main-font);
  }

  /*===========HEADER=========*/

.address {
    font-style: normal;
  }
  .nav-list-link,
  .header-mail-link,
  .header-tel-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    text-decoration: none;
  }
  